# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os
# Import API key
g_key="AIzaSyBkmxThY7w7Fsmmh9ekfB92caU9GzA3BxE"

In [12]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../output_data/cities.csv")

# Display sample data
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,faya,18.3851,42.4509,22.06,35,21,2.60,SA,1666108228
1,1,farsund,58.0948,6.8047,13.30,100,0,7.65,NO,1666108228
2,2,new norfolk,-42.7826,147.0587,11.72,58,12,1.34,AU,1666108230
3,3,jamestown,42.0970,-79.2353,5.77,77,100,9.77,US,1666107934
4,4,lanzhou,36.0564,103.7922,14.53,48,59,1.20,CN,1666108230
...,...,...,...,...,...,...,...,...,...,...
572,572,sovetskiy,61.3614,63.5842,3.93,96,100,3.71,RU,1666108564
573,573,tatarsk,55.2190,75.9828,3.78,89,84,2.63,RU,1666108564
574,574,canchungo,12.0672,-16.0333,35.07,61,67,2.91,GW,1666108565
575,575,iquique,-20.2208,-70.1431,17.02,68,6,3.50,CL,1666108566
576,576,poum,-20.2333,164.0167,23.91,79,23,3.84,NC,1666108567

In [17]:
# Configure access to the GoogleMaps API.
gmaps.configure(api_key=g_key)

In [31]:
# Create a gmaps figure
fig = gmaps.figure()

# Create and add a heatmap layer
fig.add_layer(gmaps.heatmap_layer(
    city_data_df[["Lat", "Lng"]], 
    weights=city_data_df["Humidity"], 
    max_intensity=city_data_df["Humidity"].max(),
    dissipating=False, 
    point_radius=2
))

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
fig

Figure(layout=FigureLayout(height='420px'))

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [7]:
# Narrow down cities that fit criteria and drop any results with null values

def fit_weather_criteria(data, temp_min, temp_max, wind_max):
   
    # Drop any rows will null values
    filtered = data.dropna(inplace=False)
    # A min and max temperature
    temp_filter = (filtered['Max Temp'] >= temp_min) & (filtered['Max Temp'] <= temp_max)
    # Wind speed less max
    wind_filter = filtered['Wind Speed'] <= wind_max
    # send back the selected filterd
    return filtered.loc[temp_filter & wind_filter].reset_index(drop=True)

def get_some_filtered_data(data, min_amount=5):
    
    temp_min = 50
    temp_max = 70
    wind_max = 5
    # test fit
    filtered = fit_weather_criteria(data, temp_min, temp_max, wind_max)
    # loop thru untill find at least min amount
    while (filtered.shape[0] < min_amount):
        temp_min -= 1
        temp_max += 1
        wind_max += 1
        filtered = fit_weather_criteria(data, temp_min, temp_max, wind_max)
    # inform user
    print(f'cities with a min temp of {temp_min}(°F), max temp of {temp_max}(°F), and max wind speed of {wind_max}(mph)')
    # return filtered
    return filtered

vacation_cities = get_some_filtered_data(city_data_df)
vacation_cities

cities with a min temp of 37(°F), max temp of 83(°F), and max wind speed of 18(mph)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,22,guiratinga,-16.3494,-53.7583,38.35,14,22,3.10,BR,1666108243
1,29,saint-louis,16.3333,-15.0000,38.80,24,4,1.78,SN,1666108247
2,105,nova olimpia,-14.7972,-57.2881,40.11,21,93,1.65,BR,1666108147
3,162,sao miguel do araguaia,-13.2750,-50.1628,40.09,13,33,3.87,BR,1666108241
4,175,ouallam,14.3188,2.0866,37.24,10,61,4.17,NE,1666108342
5,470,araouane,18.9048,-3.5265,37.50,10,96,5.40,ML,1666108509

### Step 3: Create a new DataFrame called `hotel_df`.

In [21]:
google_maps_api_url = 'https://maps.googleapis.com/'

def google_maps_api_call(longitude, latitude, radius, key, types=None, as_json=True):
  
    payload = {
        'location' : f'{longitude},{latitude}',
        'radius' : radius
    }
    # add types
    if type(types) is list and len(types) > 0:
        if len(types) == 1:
            payload['types'] = types
        else:
            payload['types'] = ','.join(types)
    # set the endpoint with the desired type
    endpoint = 'maps/api/place/nearbysearch/'
    if as_json: endpoint += 'json'
    else: endpoint += 'xml'
    # finally add the API key
    payload['key'] = key
    time.sleep(1)
    # make the call!
    return requests.get(google_maps_api_url + endpoint, params=payload)

In [26]:
hotel_df = pd.DataFrame(vacation_cities)
hotel_df['Hotel Name'] = ['' for x in range(vacation_cities.shape[0])]

# iterate thru rows
for index, row in vacation_cities.iterrows():
    # print status
    status = f'{(index + 1)} of {vacation_cities.shape[0]}'
    print(f"({status}) pinging server for city {row['City']}")
    # try to get request
    try:
        request = google_maps_api_call(
            longitude=row['Lat'],
            latitude=row['Lng'],
            radius=5000,
            key=g_key,
            types='lodging'
        )
        # if request fails, exit
        if request.status_code != 200:
            print(f"\tCould not find city {row['City']}, error {request.status_code}")
            continue
        # set the hotel name
        hotel_name = request.json()['results'][0]['name']
        hotel_df.loc[index,'Hotel Name'] = hotel_name
        # inform the user
        print(f"\tFound hotel {hotel_name} in city {row['City']}")
    except Exception as e:
        print(f"\tError - could not ping city {row['City']}, ERROR: {e}")

hotel_df

(1 of 6) pinging server for city guiratinga
	Error - could not ping city guiratinga, ERROR: name 'time' is not defined
(2 of 6) pinging server for city saint-louis
	Error - could not ping city saint-louis, ERROR: name 'time' is not defined
(3 of 6) pinging server for city nova olimpia
	Error - could not ping city nova olimpia, ERROR: name 'time' is not defined
(4 of 6) pinging server for city sao miguel do araguaia
	Error - could not ping city sao miguel do araguaia, ERROR: name 'time' is not defined
(5 of 6) pinging server for city ouallam
	Error - could not ping city ouallam, ERROR: name 'time' is not defined
(6 of 6) pinging server for city araouane
	Error - could not ping city araouane, ERROR: name 'time' is not defined

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,22,guiratinga,-16.3494,-53.7583,38.35,14,22,3.10,BR,1666108243,
1,29,saint-louis,16.3333,-15.0000,38.80,24,4,1.78,SN,1666108247,
2,105,nova olimpia,-14.7972,-57.2881,40.11,21,93,1.65,BR,1666108147,
3,162,sao miguel do araguaia,-13.2750,-50.1628,40.09,13,33,3.87,BR,1666108241,
4,175,ouallam,14.3188,2.0866,37.24,10,61,4.17,NE,1666108342,
5,470,araouane,18.9048,-3.5265,37.50,10,96,5.40,ML,1666108509,

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [34]:

locations = hotel_df[["Lat", "Lng"]]

In [35]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))