# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os
# Import API key
from api_keys import g_key

In [2]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../output_data/cities.csv")

# Display sample data
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,faya,18.3851,42.4509,22.06,35,21,2.60,SA,1666108228
1,1,farsund,58.0948,6.8047,13.30,100,0,7.65,NO,1666108228
2,2,new norfolk,-42.7826,147.0587,11.72,58,12,1.34,AU,1666108230
3,3,jamestown,42.0970,-79.2353,5.77,77,100,9.77,US,1666107934
4,4,lanzhou,36.0564,103.7922,14.53,48,59,1.20,CN,1666108230
...,...,...,...,...,...,...,...,...,...,...
572,572,sovetskiy,61.3614,63.5842,3.93,96,100,3.71,RU,1666108564
573,573,tatarsk,55.2190,75.9828,3.78,89,84,2.63,RU,1666108564
574,574,canchungo,12.0672,-16.0333,35.07,61,67,2.91,GW,1666108565
575,575,iquique,-20.2208,-70.1431,17.02,68,6,3.50,CL,1666108566
576,576,poum,-20.2333,164.0167,23.91,79,23,3.84,NC,1666108567

In [11]:
# Configure access to the GoogleMaps API.
gmaps.configure(api_key=g_key)

In [12]:
#capture --no-display
coordinates = city_data_df[["Lat", "Lng"]]
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
markers = gmaps.marker_layer(coordinates)
fig.add_layer(markers)

In [14]:
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [22]:
# Narrow down cities that fit criteria and drop any results with null values

def fit_weather_criteria(data, temp_min, temp_max, wind_max):
   
    # Drop any rows will null values
    filtered = data.dropna(inplace=False)
    # A min and max temperature
    temp_filter = (filtered['Max Temp'] >= temp_min) & (filtered['Max Temp'] <= temp_max)
    # Wind speed less max
    wind_filter = filtered['Wind Speed'] <= wind_max
    # send back the selected filterd
    return filtered.loc[temp_filter & wind_filter].reset_index(drop=True)

def get_some_filtered_data(data, min_amount=5):
    
    temp_min = 50
    temp_max = 70
    wind_max = 5
    # test fit
    filtered = fit_weather_criteria(data, temp_min, temp_max, wind_max)
    # loop thru untill find at least min amount
    while (filtered.shape[0] < min_amount):
        temp_min -= 1
        temp_max += 1
        wind_max += 1
        filtered = fit_weather_criteria(data, temp_min, temp_max, wind_max)
    # inform user
    print(f'cities with a min temp of {temp_min}(°F), max temp of {temp_max}(°F), and max wind speed of {wind_max}(mph)')
    # return filtered
    return filtered

vacation_cities = get_some_filtered_data(city_data_df)
vacation_cities

cities with a min temp of 37(°F), max temp of 83(°F), and max wind speed of 18(mph)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,22,guiratinga,-16.3494,-53.7583,38.35,14,22,3.10,BR,1666108243
1,29,saint-louis,16.3333,-15.0000,38.80,24,4,1.78,SN,1666108247
2,105,nova olimpia,-14.7972,-57.2881,40.11,21,93,1.65,BR,1666108147
3,162,sao miguel do araguaia,-13.2750,-50.1628,40.09,13,33,3.87,BR,1666108241
4,175,ouallam,14.3188,2.0866,37.24,10,61,4.17,NE,1666108342
5,470,araouane,18.9048,-3.5265,37.50,10,96,5.40,ML,1666108509

### Step 3: Create a new DataFrame called `hotel_df`.

In [8]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
# YOUR CODE HERE

# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [9]:
# Set parameters to search for a hotel
radius = # YOUR CODE HERE
params = {
    # YOUR CODE HERE
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # get latitude, longitude from the DataFrame
    # YOUR CODE HERE
    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["filter"] = # YOUR CODE HERE
    params["bias"] = # YOUR CODE HERE
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"


    # Make and API request using the params dictionaty
    name_address = # YOUR CODE HERE
    
    # Convert the API response to JSON format
    name_address = # YOUR CODE HERE
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

SyntaxError: invalid syntax (788381735.py, line 2)

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [ ]:
capture --no-display

# Configure the map plot
# YOUR CODE HERE

# Display the map
# YOUR CODE HERE